body {
  background-color: #dbe2ef;
}

hr {
  border-color: #f9f7f7;
  border-style: dotted none none;
  border-top-width: 4px;
  height: 0;
  width: 3%;
}

h1 {
  color: #112d4e
}
h3 {
  color: #112d4e
}
